In [1]:
import pandas as pd
import numpy

In [ ]:
#import july data
july_file = "data/2013-07 - Citi Bike trip data.csv"
july_df = pd.read_csv(july_file)
july_df.head()

In [ ]:
#drop all null values
july_drop_df=july_df.dropna(how="all")
july_drop_df

In [ ]:
#change birth year column name 
july_drop= july_drop_df.rename(columns={'birth year': 'birthyear'})
july_drop.head()

In [ ]:
#drop \N values 
july_drop= july_drop[july_drop.birthyear != "\\N"]
july_drop

In [ ]:
july_drop.to_csv('data/CleanData/013-07_CitiBiketrip.csv')

In [ ]:
aug_file= "data/2013-08 - Citi Bike trip data.csv"
aug_file=pd.read_csv(aug_file)
aug_file.head()

In [ ]:
aug_df=aug_file.dropna(how="all")
aug_df

In [ ]:
#rename column birth year
aug_df=aug_df.rename(columns={'birth year': 'birthyear'})
aug_df.head()

In [ ]:
#drop \N values
aug_df= aug_df[aug_df.birthyear != "\\N"]
aug_df

In [ ]:
#export to csv
aug_df.to_csv('data/CleanData/2013-08_CitiBiketrip.csv')

In [ ]:
#import data
sept_file= "data/2013-09 - Citi Bike trip data.csv"
sept_file=pd.read_csv(sept_file)
sept_file.head()

In [ ]:
sept_df=sept_file.rename(columns={'birth year': 'birthyear'})
sept_df.head()

In [ ]:
sept_df= sept_df[sept_df.birthyear != "\\N"]
sept_df

In [ ]:

sept_df=sept_df.dropna(how="all")
sept_df.head()

In [ ]:
#export to cleandata folder
sept_df.to_csv('data/CleanData/2013-09_CitiBiketrip.csv')

In [2]:
oct_file= "data/2013-10 - Citi Bike trip data.csv"
oct_file=pd.read_csv(oct_file)
oct_file.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,2013-10-01 00:01:21,2013-10-01 00:13:30,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1

In [3]:
oct_file = oct_file.rename(columns={'birth year':'birthyear'})
oct_file.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birthyear,gender
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
1,729,2013-10-01 00:01:21,2013-10-01 00:13:30,322,Clinton St & Tillary St,40.696192,-73.991218,398,Atlantic Ave & Furman St,40.691652,-73.999979,19412,Customer,\N,0
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1

In [4]:
oct_df= oct_file[oct_file.birthyear!= "\\N"]
oct_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birthyear,gender
0,326,2013-10-01 00:01:08,2013-10-01 00:06:34,239,Willoughby St & Fleet St,40.691966,-73.981302,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052,Subscriber,1982,1
2,520,2013-10-01 00:01:24,2013-10-01 00:10:04,174,E 25 St & 1 Ave,40.738177,-73.977387,403,E 2 St & 2 Ave,40.725029,-73.990697,19645,Subscriber,1984,1
3,281,2013-10-01 00:01:25,2013-10-01 00:06:06,430,York St & Jay St,40.701485,-73.986569,323,Lawrence St & Willoughby St,40.692362,-73.986317,16992,Subscriber,1985,1
4,196,2013-10-01 00:01:27,2013-10-01 00:04:43,403,E 2 St & 2 Ave,40.725029,-73.990697,401,Allen St & Rivington St,40.720196,-73.989978,15690,Subscriber,1986,1
5,1948,2013-10-01 00:01:48,2013-10-01 00:34:16,369,Washington Pl & 6 Ave,40.732241,-74.000264,307,Canal St & Rutgers St,40.714275,-73.989900,19846,Subscriber,1977,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037707,534,2013-10-31 23:58:50,2013-11-01 00:07:44,216,Columbia Heights & Cranberry St,40.700379,-73.995481,398,Atlantic Ave & Furman St,40.691652,-73.999979,17905,Subscriber,1990,1
1037708,416,2013-10-31 23:59:12,2013-11-01 00:06:08,368,Carmine St & 6 Ave,40.730386,-74.002150,335,Washington Pl & Broadway,40.729039,-73.994046,17879,Subscriber,1994,1
1037709,404,2013-10-31 23:59:27,2013-11-01 00:06:11,456,E 53 St & Madison Ave,40.759711,-73.974023,509,9 Ave & W 22 St,40.745497,-74.001971,17082,Subscriber,1966,1
1037710,651,2013-10-31 23:59:51,2013-11-01 00:10:42,377,6 Ave & Canal St,40.722438,-74.005664,463,9 Ave & W 16 St,40.742065,-74.004432,15587,Subscriber,1970,1
1037711,332,2013-10-31 23:59:57,2013-11-01 00:05:29,250,Lafayette St & Jersey St,40.724561,-73.995653,368,Carmine St & 6 Ave,40.730386,-74.002150,15754,Subscriber,1984,1

In [5]:
oct_df.to_csv('data/CleanData/2013-10_CitiBiketrip.csv')